$black: #242526;
$white: #FFF;
$background: #18191A;
$surface: #353535;

$primary-color: #BB86FC;
$secondary-color: #028192;
$error: #CF6679;

@mixin line-break {
        align-items: center;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 20px 16px;
        text-align: center;
};